Repository voxpupuli/puppet-ldapquery, pull requests merged in 2021-06, with the labels that each got.

#26 Drop EoL puppet 5 support; add Puppet 7
  metadata.json
Labels: backwards-incompatible

#28 release 2.0.0
  CHANGELOG.md
  README.md
  metadata.json
Labels: skip-changelog

#29 Put options for ldapquery into opts argument
  lib/puppet/parser/functions/ldapquery.rb
  lib/puppet_x/ldapquery.rb
Labels: enhancement

#30 release 2.1.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
